<div class="info">
  <div class="show-image-info">
    <div class="show-image-user">
      <%= @image.user %>
    </div>
  </div>

  <div class="show-image-description">
  </div>
</div>

<div class="image-container">
  <%= image_tag url_for(@image.image), class: 'show-image'%>
</div>
